.description, .emoji{
    display: inline-block;
}

.description{
    background-color: #FD8087;
    color: white;
    border-radius: 15px;
    margin-left: 65px;
    box-shadow: 7px 10px #0000001a;
    padding: 20px 40px;
    width: 50%;
}
.description h2{
    padding: 10px 0 0;
    font-size: 4.5em;
    font-family: 'Caveat Brush', cursive;
    text-shadow: 4px 2px rgba(255, 255, 255, 0.5);
}

.description p{
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
}

.emoji img{
    width: 100%;
    position: relative;
    left: 10%;
    bottom: 230px;
}

.emoji{
    height: 200px;
    width: 40%;
}

@media (max-width:740px){
    .emoji{
        display: none;
    }
    .description{
        width: 72%;
        margin: 0 14%;
        padding: 0 20px;
    }
    .description h2{
        font-size: 2.8rem;
        text-shadow: 4px 2px rgba(255, 255, 255, 0.5);
    }
    .description p{
        font-size: 1rem;
    }
}

@media (min-width:740px) and (max-width:1084px){
    .description{
        width: 45%;
        margin: 0 49% 0 6%;
        padding: 10px 25px;
    }
    .description h2{
        font-size: 2.8rem;
        text-shadow: 4px 2px rgba(255, 255, 255, 0.5);
    }
    .description p{
        font-size: 1rem;
    }
    .emoji, .emoji img{
        position: absolute;
        width: 300px;
        top: 155px;
        left: 43%;
    }
}