@import '../configs';

.footer-grid {
	display: grid;
	grid-template-columns: 1fr 1.3fr;
	color: lighten($black, 66%);
	background-color: $black;
	justify-items: center;

	.footer-title {
		font-family: 'PT Serif', serif;
		font-size: 1.5rem;
		text-align: center;
	}

	.links {
		i {
			width: fit-content;
			margin: 0 auto;
		}

		a {
			text-decoration: none;
		}

		.fa-github,
		.fa-kaggle {
			color: darken($black, 20%);
			margin-left: 12px;
		}

		.fa-kaggle {
			margin-left: 17px;
		}

		@include smaller-device {
			.fa-github,
			.fa-kaggle {
				display: block;
				margin: 0 auto 25px;
			}
		}
	}

	.team {
		margin-bottom: 8px;
		p {
			font-family: 'Lora', serif;
			text-align: center;
		}
	}
}
