$red: #ff1744;
$black: #2b4152;
$blue: #f4f7fc;
$headingfont: 'Raleway', sans-serif;
$parafont: 'Dosis', sans-serif;
$breakpoint-small: 780px;
$breakpoint-medium: 1200px;

@mixin smaller-device {
	@media (max-width: $breakpoint-small) {
		@content;
	}
}

@mixin medium-device {
	@media (max-width: $breakpoint-medium) and (min-width: $breakpoint-small+1) {
		@content;
	}
}
