@import "../configs";

.Graph{
    margin-left: 150px;
}

.analysis h2{
    margin: 0 0 20px 70px;
    color: rgba(0, 0, 0, 0.637);
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
}

.analysis img{
    margin: 0 0 40px 45px;
}