@import "../configs";



.Analysis{
    h2{
        color: $black;
        font-family: $headingfont;
        font-size: 2.6rem;
        text-align: center;
    }
    p{
        font-family: $parafont;
        font-size: 1rem;
    }
    .Questions{
        h3{
            font-family: $headingfont;
            font-size: 2rem;
        }
        iframe{
            margin: 0 auto;
        }
    }    
}
