@import '../configs';

.Analysis {
	background-color: $blue;
	color: $black;
	h2 {
		font-family: $headingfont;
		font-size: 3rem;
		text-align: center;
		margin-top: 0;
		padding-top: 30px;
	}
	p {
		font-family: $parafont;
		font-size: 1.5rem;
	}
	.pageheader,
	.pagefooter {
		display: grid;
		grid-template-columns: 1.5fr 1fr;
		img {
		}
		.content {
			width: 90%;
			margin: 0 auto;
		}
	}

	.pageheader {
		img {
			right: 0;
			top: 0;
		}
	}

	.pagefooter {
		img {
			left: 0;
			bottom: 0;
		}
	}

	iframe {
		margin: 0 auto;
		overflow: hidden;
	}
	.Questions {
		h3 {
			font-family: $headingfont;
			font-size: 2rem;
		}
		iframe {
			margin: 0 auto;
		}
		h4 {
			font-family: $headingfont;
		}
	}
}
